<div class="container">
      <h2>Password Generator</h2>
      <div class="wrapper">
        <div class="input-box">
          <input type="text" [value]=result disabled>
          <span class="material-symbols-outlined" (click)="copy()">{{copyAll}}</span>
        </div>
        <div class="indicator">
          <span class="weak active"></span>
          <span [ngClass]="isMedium? 'medium active' : 'medium' "></span>
          <span [ngClass]="isStrong? 'strong active' : 'strong' "></span>
        </div>
        <div class="pass-length">
          <div class="details">
            <label class="title">Password Length</label>
            <span>{{passLength}}</span>
          </div>
          <input type="range" min="1" max="30" [(ngModel)]="passLength" step="1" (change)="generate()">
        </div>
        <div class="pass-settings">
          <label class="title">Password Settings</label>
          <ul class="options">
            <li class="option">
              <input type="checkbox" id="lowercase" checked>
              <label for="lowercase">Lowercase (a-z)</label>
            </li>
            <li class="option">
              <input type="checkbox" id="uppercase" (change)="[Uppercase(),generate()]">
              <label for="uppercase">Uppercase (A-Z)</label>
            </li>
            <li class="option">
              <input type="checkbox" id="numbers" (change)="[Numbers(),generate()]">
              <label for="numbers">Numbers (0-9)</label>
            </li>
            <li class="option">
              <input type="checkbox" id="symbols" (change)="[Symbols(),generate()]">
              <label for="symbols">Symbols (!-$^+)</label>
            </li>
            <li class="option">
              <input type="checkbox" id="exc-duplicate">
              <label for="exc-duplicate" (change)="[Unique(),generate()]">Exclude Duplicate </label>
            </li>
          </ul>
        </div>
        <button class="generate-btn" (click)="generate()">Generate Password</button>
      </div>
    </div>
